.parent{text-align: center;}

.parent .button{margin: 10px;}

.contents{text-align: left;}

img{max-width: 550px;}

pre code {
    display: block;
}

.box{
    margin: 0 auto;
    width: 100px;
    height: 100px;
    background: darkslategrey;
    color: white;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    border: 10px solid grey;
    transform: rotate(-50deg);
}